<!-- <div class="container-fluid">
  <h2>Registration Form</h2>

  <form [formGroup]="registerationForm">
    <div class="form-group">
      <label>Username</label>
      <input type="text"  class="form-control" formControlName="userName">
     
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password"  class="form-control" formControlName="password">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password"  class="form-control" formControlName="confirmPassword">
    </div>
    <div >

    </div>

    <button class="btn btn-primary" type="submit">Register</button>
 {{registerationForm.value | json}}
  </form>
</div>

<div class="container" *ngIf="courses.length > 0; then coursesList else noCourses">

</div>
<ng-template #coursesList>Courses List</ng-template>

<ng-template #noCourses>No Courses</ng-template> -->
<!-- <form [formGroup]="changePasswordForm">
  <div class="form-group">
    <label for="">Current Password</label>
    <input type="password" class="form-control" formControlName="oldPassword"/>
    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors.required">old Password is required</div>
      <div *ngIf="oldPassword.errors.invalidOldPassword">Old password is Invalid</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">New Password</label>
    <input type="password" class="form-control" formControlName="newPassword"/>
    <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
      <div *ngIf="newPassword.errors.required">new Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">Confirm Password</label>
    <input type="password"  class="form-control" formControlName="confirmPassword"/>
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
      <div *ngIf="confirmPassword.errors.required">confirm Password is required</div>
    </div>
    <div class="alert alert-danger" *ngIf="confirmPassword.valid && changePasswordForm.invalid && changePasswordForm.errors.passwordShouldMatch">
      Password do not match
    </div>
  </div>
  <button class="btn btn-primary" (click)="changePassword()">Change Password</button>
</form> -->
<div class="container">
  <!-- <app-posts></app-posts>
   -->
   <app-navbar></app-navbar>
   <router-outlet></router-outlet>
</div>